/* estilos del formulario principal */

.uno .dos{
    width: 100%;
    margin-top: 30px;
}
.uno h1{
    text-align: center;
}

.form{
    width: 600px;
    padding: 10px;
    margin-top: 100px;
    margin: auto;
    border: radius 5px;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    grid-auto-rows: 20px;
}

.cajitas .extras1{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background: none;
    border: none;

}
.cajitas .extras2{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background: none;
    border: none;
    border-bottom: 2px solid #2a3f54;
    outline: 0;
}
.back i{
    font-size: 40px;
    color: #2a3f54;
    margin-top: -40px;
    padding: 10px 8px;
    
}
.caja .boton{
    padding: 10px;
    margin-top: 60px;
    border-radius: 5px;
    margin-left: 170px;
    background: #2a3f54;
    border: 2px solid black;
    color: white;
    cursor: pointer;
    font-size: 15px;
    width: 100%;
}

/* estilos cajitas registros tipo documento y usuario */
/* tipo usuario */
.mostrar label{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background: none;
    border: none;
}

.input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background: none;
    border: none;
    border-bottom: 2px solid #2a3f54;
    outline: 0;

}
.btn{
    width: 100px;
    border-radius: 5px;
    background: none;
    border: none;
    border-bottom: 2px solid #2a3f54;
    padding: 10px 25px;
    transform: translate(60px,0px);
    cursor: pointer;
    
}

.form1{
    width:200px;
    height: 10px;
    padding: 15px 10px;
}

.mostrar{
    position: absolute;
    top: 490px;
    width: 250px;
    height: 150px;
    background: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 9px;
    outline: none;
    left: 550px;
    display: none;
}

/* tipo documento */
.label{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background: none;
    border: none;
}

.input1{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background: none;
    border: none;
    border-bottom: 2px solid #2a3f54;
    outline: 0;

}
.btn1{
    width: 100px;
    border-radius: 5px;
    background: none;
    border: none;
    border-bottom: 2px solid #2a3f54;
    padding: 10px 25px;
    transform: translate(60px,0px);
    cursor: pointer;
    
}

.form2{
    width:200px;
    height: 10px;
    padding: 15px 10px;
}

.mostrar1{
    position: absolute;
    top: 490px;
    width: 250px;
    height: 150px;
    background: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 9px;
    outline: none;
    right: 310px;
    display: none;  
}

.form2 i{
    position: absolute;
    right: 7px;
    top: 7px;
    cursor: pointer;
}
.form1 i{
    position: absolute;
    right: 7px;
    top: 7px;
    cursor: pointer;
}