/* .btn i{
  background-color: #2a3f54;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 10px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
  cursor: pointer;
  transform: translate(60px,12px);
}
.btneditar i{
  background-color: #2a3f54;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 10px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 14px;
  padding: 7px 7px;
  cursor: pointer;
  transform: translate(1px,1px);
}
.btnborrar i{
  background-color: #2a3f54;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 10px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 14px;
  padding: 7px 7px;
  cursor: pointer;
  transform: translate(1px,1px);
}
.elduro{
  width: 100%;
  margin-left: 20px;
  
}

.table{
  width: 600px;
}
.table tr,th,td {
  text-align: center;
  padding: 2px;

}

.table th{
  background-color: #f2f2f2
}

.table td {
  background-color: #2a3f54;
  color: white;
  
}


.table a{
  background: none;
  outline: 0;
  border: none;
  color: #2a3f54;
  padding: 1px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 20px;
}

.table a:hover{
  color: rgba(117, 130, 135, 0.844);
  border-radius: 5px;
}  */

