.celadores_login{
    width: 900px;
    /* background-color: white; */
    margin: 45px auto;
    border-collapse: collapse;
    /* border: 2px solid black; */
}

.head_table{
    text-align: center;
    font-size: 15px;
    background-color: #2a3f54;
    color: white;
    padding: 5px;
    border-bottom: solid 5px #17212b;
    /* border: 2px solid black; */
}

.body_table{
    text-align: center;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 10px;
    /* border: 2px solid black; */
}

.titulo_informe{
    text-align: center;
}

.imprimir{
    background-color: red;
    color: white;
    padding: 7px;
    margin: 10px 120px;
    border: none;
    border-radius: 5px;
}

.imprimir:hover{
    background-color: rgb(162, 27, 27);
}

#trash{
    color: white;
    padding: 5px 5px 5px;
}

#trash:hover{
    background-color: rgb(128, 18, 18);
}

.eliminarlink{
    text-decoration: none;
    color: white;
    background-color: rgb(221, 33, 33);
    border-radius: 5px;
    /* border: 2px solid black; */
    /* width: 70px;
    height: 70px; */
    padding: 10px;
    margin: 2px;
}

.eliminarlink:hover{
    background-color: rgb(138, 24, 24);
    color: white;
    text-decoration: none;
}