*{
    padding: 0;
    margin: 0;
}

/* body{
    background-color: gray;
} */
body {
    font-family: 'Roboto', sans-serif;
}

#form{
    width: 300px;
    background-color: white;
    margin: 50px 100px;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 7px;
}

#inputcupos{
    width: 160px;
    margin: 10px auto;
    border-radius: 10px;
    background-color: white;
    border: 2px solid #2a3f54;
    font-size: 15px;
    text-align: center;
    padding: 3px;
}

#guardar{
    background-color: #2a3f54;
    color: white;
    border-radius: 10px;
    border: 1px solid gray;
    width: 110px;
    font-size: 15px;
    padding: 3px;
    border: 1px solid #2a3f54;
}

#guardar:hover{
    background-color: white;
    color: black;
    border: 1px solid #2a3f54;
}

.titulo{
    font-size: 15px;
    width: 150px;
    margin: 15px auto;
    background-color: white;
}

.zonas_registradas{
    width: 400px;
    /* background-color: white; */
    margin: -164px 500px;
    position: absolute;
    border-collapse: collapse;
}

.head_table{
    text-align: center;
    font-size: 15px;
    background-color: #2a3f54;
    color: white;
    padding: 5px;
}

.body_table{
    text-align: center;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 5px;
}

ul, ol {
    list-style:none;
}

.navy > li {
    float:left;
}

.navy li a {
    background-color:#2a3f54;
    color:rgb(10, 10, 10);
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.navy li a:hover {
    color: white;
    background-color:#2a3f54;
}

.navy li ul {
    display:none;
    position:absolute;
    min-width:131px;
}

.navy li:hover > ul {
    display:block;
}

.navy li ul li {
    position:relative;
}

.navy li ul li ul {
    right:-140px;
    top:0px;
}

.btn-volver{
    margin: 10px 100px;
}

.btn-volver a{
    text-decoration: none;
    background-color: #2a3f54;
    padding: 7px;
    border-radius: 10px;
    color: white;
    border: 2px solid #2a3f54;
}

.btn-volver a:hover{
    color: black;
    background-color: white;
}

/* estilos actualizar estado */

#formu{
    width: 320px;
    background-color: white;
    margin: 50px auto;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 5px;
}

#cambiar{
    width: 200px;
    margin: 10px auto;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #2a3f54;
}

.btn-actualizar{
    background-color: #2a3f54;
    padding: 3px 4px;
    border-radius: 10px;
    color: white;
    border: 2px solid #2a3f54;
}

.btn-actualizar:hover{
    color: black;
    background-color: white;
}