*{
    padding: 0;
    margin: 0;
    /* margin-bottom: 30px; */
}

/* body{
    background-color: gray;
} */
body {
    font-family: 'Roboto', sans-serif;
}

.cont{
    border: 1px solid gray;
    border-radius: 10px;
}

#form{
    width: 600px;
    background-color: white;
    margin: 50px auto;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 7px;
}

.crear{
    position: absolute;
    margin: -10px -230px;
    /* background-color: red; */
    text-decoration: none;
    color: #2a3f54;
}

.crear_zona{
    position: absolute;
    margin: -10px -465px;
    /* background-color: red; */
    text-decoration: none;
    color: #2a3f54;
}

#inputzona{
    width: 230px;
    margin: 10px auto;
    border-radius: 10px;
    background-color: white;
    border: 2px solid #2a3f54;
    font-size: 15px;
    text-align: center;
    padding: 3px;
}

#inputcupos{
    width: 230px;
    margin: 10px auto;
    border-radius: 10px;
    background-color: white;
    border: 2px solid #2a3f54;
    font-size: 15px;
    text-align: center;
    padding: 3px;
}

#tipozona{
    width: 230px;
    margin: 10px auto;
    border-radius: 10px;
    background-color: white;
    font-size: 15px;
    text-align: center;
    padding: 3px;
    border: 2px solid #2a3f54;
}

#cupozona{
    width: 230px;
    margin: 10px auto;
    border-radius: 10px;
    background-color: white;
    font-size: 15px;
    text-align: center;
    padding: 3px;
    border: 2px solid #2a3f54;
}

#guardar{
    background-color: #2a3f54;
    color: white;
    border-radius: 10px;
    border: 1px solid gray;
    width: 110px;
    font-size: 15px;
    padding: 5px;
    border: 1px solid #2a3f54;
}

#guardar:hover{
    background-color: white;
    color: black;
    border: 1px solid #2a3f54;
}

.titulo{
    font-size: 15px;
    width: 125px;
    margin: 15px auto;
    background-color: white;
}

.zonas_registradas{
    width: 900px;
    /* background-color: white; */
    margin: 45px auto;
    border-collapse: collapse;
    box-shadow: 2px 2px 2px 1px rgba(100, 98, 98, 0.2);
}

.head_table{
    text-align: center;
    font-size: 15px;
    background-color: #2a3f54;
    color: white;
    padding: 5px;
}

.body_table{
    text-align: center;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 5px;
}

ul, ol {
    list-style:none;
}

.navy > li {
    float:left;
}

.navy li a {
    background-color:#2a3f54;
    color:rgb(10, 10, 10);
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.navy li a:hover {
    color: white;
    background-color:#2a3f54;
}

.navy li ul {
    display:none;
    position:absolute;
    min-width:131px;
}

.navy li:hover > ul {
    display:block;
}

.navy li ul li {
    position:relative;
}

.navy li ul li ul {
    right:-140px;
    top:0px;
}

.eliminarlink{
    text-decoration: none;
    /* border: 1px solid black; */
    padding: 5px;
    font-size: 12px;
    color: white;
    background-color: rgb(230, 49, 49);
    border-radius: 10px;
}

.eliminarlink2{
    text-decoration: none;
    /* border: 1px solid black; */
    padding: 5px;
    font-size: 12px;
    color: white;
    background-color: rgb(27, 199, 27);
    border-radius: 10px;
}

.eliminarlink:hover{
    background-color: rgb(186, 34, 34);
    color: white;
}

.eliminarlink2:hover{
    background-color: rgb(20, 148, 20);
    color: white;
}

#marker{
    color: rgb(15, 169, 15);
}

#trash{
    color: red;
}

#formulario{
    width: 830px;
    background-color: white;
    margin: 50px auto;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 7px;
}

.crear_cupo{
    font-size: 15px;
    width: 125px;
    margin: 15px auto;
    background-color: white;
}

#id_zona{
    width: 230px;
    margin: 10px auto;
    border-radius: 10px;
    background-color: white;
    font-size: 15px;
    text-align: center;
    padding: 3px;
    border: 2px solid #2a3f54;
}

#nombre_cupo{
    width: 230px;
    margin: 10px auto;
    border-radius: 10px;
    background-color: white;
    border: 2px solid #2a3f54;
    font-size: 15px;
    text-align: center;
    padding: 2.5px;
}

#estado_cupo{
    width: 230px;
    margin: 10px auto;
    border-radius: 10px;
    background-color: white;
    font-size: 15px;
    text-align: center;
    padding: 3px;
    border: 2px solid #2a3f54;
}

#enviar_cupo{
    background-color: #2a3f54;
    color: white;
    border-radius: 10px;
    border: 1px solid gray;
    width: 110px;
    font-size: 15px;
    padding: 5px;
    border: 1px solid #2a3f54;
    margin: 2px;
}

#enviar_cupo:hover{
    background-color: white;
    color: black;
    border: 1px solid #2a3f54;
}