*{
    padding: 0;
    margin: 0;
}

/* body{
    background-color: gray;
} */
body {
    font-family: 'Roboto', sans-serif;
}

#form{
    width: 1065px;
    background-color: white;
    margin: 45px auto;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 7px;
}

#inputzona{
    width: 230px;
    margin: 10px auto;
    border-radius: 10px;
    background-color: white;
    border: 1px solid gray;
    font-size: 15px;
    text-align: center;
    padding: 3px;
}

#inputcupos{
    width: 230px;
    margin: 10px auto;
    border-radius: 10px;
    background-color: white;
    border: 1px solid gray;
    font-size: 15px;
    text-align: center;
    padding: 3px;
}

#tipozona{
    width: 230px;
    margin: 10px auto;
    border-radius: 10px;
    background-color: white;
    font-size: 15px;
    text-align: center;
    padding: 3px;
}

#cupozona{
    width: 230px;
    margin: 10px auto;
    border-radius: 10px;
    background-color: white;
    font-size: 15px;
    text-align: center;
    padding: 3px;
}

#guardar{
    background-color: #2a3f54;
    color: white;
    border-radius: 10px;
    border: 1px solid gray;
    width: 110px;
    font-size: 15px;
    padding: 3px;
}

#guardar:hover{
    background-color: white;
    color: black;
}

.titulo{
    font-size: 15px;
    width: 125px;
    margin: 15px auto;
    background-color: white;
}

.zonas_registradas{
    width: 1065px;
    /* background-color: white; */
    margin: 45px auto;
}

.head_table{
    text-align: center;
    font-size: 15px;
    background-color: #2a3f54;
    color: white;
    padding: 5px;
}

.body_table{
    text-align: center;
    font-size: 15px;
    background-color: gray;
    color: black;
    padding: 5px;
}