.contenedor_informe{
    border: 1px solid black;
    height: 600px;
}

.zonas_registradas{
    width: 900px;
    /* background-color: white; */
    margin: 45px auto;
    border-collapse: collapse;
    box-shadow: 2px 2px 2px 1px rgba(100, 98, 98, 0.2);
}

.head_table{
    text-align: center;
    font-size: 15px;
    background-color: #2a3f54;
    color: white;
    padding: 5px;
}

.body_table{
    text-align: center;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 5px;
}

.body_table:hover{
    background-color: gray;
}
