/* ESTILOS GENERALES */

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
/* ESTILOS DE NAVEGACIÓN LATERAL */
.navegacion {
    width: 230px;
    min-height: 100vh;
    background: #2a3f54;
}

.navegacion .site_title {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navegacion .site_title span {
    font-size: 22px;
    color: white;
}

.navegacion .nav_profile {
    width: 100%;
    height: 81px;
    padding-bottom: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.navegacion .nav_profile .profile_pic {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
}

.navegacion .nav_profile .profile_pic img {
    width: 100%;
    height: 100%;
}

.navegacion .nav_profile .profile_info {
    width: calc(98% - 80px);
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.navegacion .nav_profile .profile_info .profile_welcome {
    color: rgb(180, 173, 173);
    padding-bottom: 5px;
    font-size: 13px;
    padding-left: 10px;
}

.navegacion .nav_profile .profile_info .profile_name {
    color: white;
    font-size: 15px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.navegacion .menu_section h5 {
    color: white;
    font-weight: 500;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navegacion .menu_section ul li {
    height: 45px;
    margin-bottom: 5px;
    padding-left: 15px;
    border-top: 1px solid transparent;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navegacion .menu_section ul li a{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
}

.navegacion .menu_section ul li:hover {
    border-top: 1px solid rgb(83, 98, 113);
    background-color: rgb(48, 67, 86);
}

.nav_decorate {
    border-top: 1px solid transparent;
    width: 5px;
    height: 100%;
    background-color: transparent;
}

.navegacion .menu_section ul li:hover .nav_decorate {
    border-top: 1px solid rgb(83, 98, 113);
    background-color: rgb(26, 187, 156);
}

.navegacion .menu_section ul li a {
    color: #E7E7E7;
    text-decoration: none;
}

/* ESTILOS DE MENÚ SUPERIOR */

.nav_menu {
    width: 100%;
    height: 56px;
    background-color: rgb(237, 237, 237);
    border-bottom: 1px solid rgb(217, 222, 228);

    display: flex;
    justify-content: center;
    align-items: center;
}

.container_nav-menu {
    width: 98%;
    height: 100%;

    display: flex;
}

.icon_menu {
    width: 5%;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.fa-bars {
    font-size: 25px;
    color: rgb(115, 135, 156);
    cursor: pointer;
}

.user {
    width: 95%;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.user .user_pic {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    margin-right: 60px;
}

.user .user_pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user p {
    margin-right: 10px;
    font-size: 14px;
    color: #5E6974;
}

/* ESTILO DEL CONTENIDO*/
/* Solo lleva este estilo, por favor no agregar más, utilizar su respectivo archivo */

.contenido {
    width: calc(100vw - 230px);
}