body {
    background-color: rgb(247, 247, 247);
}

.contenido {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.datos_parqueo-container {
    width: 100%;
    height: 125px;
    background-color: rgb(247, 247, 247);
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.datos_parqueo-container .dato_container {
    width: 200px;
    height: 95px;
    padding-right: 10px;
}

.datos_parqueo-container .dato_container small {
    color: #5E6974;
}

.datos_parqueo-container .dato_container .container_conteo {
    width: 200px;
    height: 76px;
    border-right: 3px solid rgb(115, 135, 156);
}

.datos_parqueo-container .dato_container .container_conteo p {
    color: #5E6974;
    font-size: 50px;
    font-weight: bold;
}


.grafica_historia_parqueo {
    width: 95%;
    background-color: white;
}