body {
    position: relative;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.form_container {
    /* width: 35%; */

    background-color: #f7f7f7;
    border-radius: 10px;
    padding-bottom: 20px;
    border: 1px solid darkgray;
    margin-top: 15px;
    margin-left: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.form_container .wrapper {
    width: 95%;
}

.form_container .form_title {
    width: 100%;
    padding: 15px 0px;
}

.form_container .form_title p {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #304356;
    text-align: center;
}

.form_container .column_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form_container .column_container .column_form {
    width: 48%;
}

.form_container .column_container .column_form .grupo_formulario {
    width: 100%;
    margin: 10px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_container .column_container .column_form .grupo_formulario label {
    color: #304356;
    margin-bottom: 5px;
}

.form_container .column_container .column_form .grupo_formulario input {
    width: 100%;
    height: 40px;
    padding-left: 4px;
}

.form_container .column_container .column_form .grupo_formulario select {
    width: calc(100% + 5px);
    height: 40px;
    padding-left: 5px;
}

.form_container .anotaciones_container {
    width: 100%;

    display: flex;
    flex-direction: column;
}

.form_container .anotaciones_container label {
    color: #304356;
    margin-bottom: 5px;
}

.form_container .anotaciones_container textarea {
    height: 50px;
}

.grupo_cargue {
    padding: 10px;
}

.form_container .cargue_container {
    margin-bottom: 10px;
    padding: 10px;
}

.form_container .cargue_container .subtitle_form {
    margin: 10px 0px;
}

.form_container .cargue_container .subtitle_form p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #304356;
    text-align: center;
}

.form_container .cargue_container .cargue_main {
    display: flex;
    flex-direction: column;
}

.form_container .boton_container {
    width: 100%;
}

.form_container .boton_container input {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border: none;
    background-color: rgba(11, 129, 133, 0.933);
    border-radius: 7px;
    color: white;
    cursor: pointer
}

.crud_container {
    /* width: 60%; */
    margin-top: 15px;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.5rem;
}

.crud_container .card-header {
    background-color: rgba(0, 0, 0, .03);
    padding: 8px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.crud_container .card-body form {
    width: 95%;
}

.crud_container .card-body table {
    width: 95%;
}

.notificacion_busqueda {
    display: none;
    max-width: 90%;
    padding: 5px 0;
    border-radius: 0.2rem;
    
    color: white;
    margin-bottom: 5px;
    cursor: pointer;
}

.notificacion_busqueda-exito {
    display: block;
    background-color: #349b58;
    border-color: #3c995c;
}

.notificacion_busqueda-error {
    display: block;
    background-color: #c9302c;
    border-color: #ac2925;
}

.otra_informacion {
    width: 90%;
    margin-bottom: 20px;
}

.container_modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.26);

    position: absolute;
    top: 0;
    right: 0;

    display: none;
    justify-content: center;
    align-items: center;
}

.container_modal .container_propietario {
    width: 600px;
    background-color: white;
    padding: 20px 10px;
}

.container_modal .container_propietario .btn_cerrar {
    width: 100%;
    height: 40px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container_modal .container_propietario .btn_cerrar i {
    font-size: 25px;
    color: red;
    cursor: pointer;
}

.container_modal .container_propietario .container_gruposModales {
    width: 100%;
    margin-top: 10px;

    display: flex;
    justify-content: center;
}

.container_modal .container_propietario .container_gruposModales .grupoModal {
    width: 48%;
}

.container_modal .container_propietario .container_gruposModales .grupoModal div {
    width: 100%;
}

.container_modal .container_propietario .container_gruposModales .grupoModal div p {
    color: #304356;
    font-weight: bold;
    margin-bottom: 10px;
}

.container_modal .container_propietario .container_gruposModales .grupoModal div div {
    width: 90%;
    height: 40px;
    background-color: white;
    border: 1px solid gray;

    margin-bottom: 10px;
    padding-left: 10px;

    display: flex;
    align-items: center;
}

.form_datos_propietario {
    width: 100%;
}

.ventana-modal {
    z-index: 2000;

    position: absolute;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.5);
    left: -170px;

    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.search_vetanaModal-container {
    z-index: 2;

    position: absolute;
    width: 100vw;
    height: calc(100vh + 30px);

    background-color: rgba(0, 0, 0, 0.25);
    top: -30px;
    left: -170px;

    display: none;
    justify-content: center;
    align-items: center;
}

.search_vetanaModal-update {
    background-color: #ffff;
    width: 500px;
    display:  none;
}

.formu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 400px;
    background-color: rgba(255, 255, 255, 0.933);
    border-radius: 10px;

    padding: 30px 20px;
}

.contenedor {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cerrar {
    width: 100%;
}