/*Diseño formulario*/

.main_content {
    width: 100%;

    display: flex;
}

.form_container {
    width: 50%;
}

.form_container .formur {
    width: 100%;
    margin-top: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.grupos_formulario {
    display: flex;
    flex-direction: column;
}

.contenedor_columnas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.columna_formulario {
    width: 50%;
}

.grupo_formulario {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.grupo_formulario label {
    margin-bottom: 5px;
}

.grupo_formulario input {
    width: 95%;
    height: 40px;
    padding-left: 3px;
}

.grupo_formulario select {
    height: 44px;
    width: calc(95% + 3px);
}

.grupo_formulario textarea {
    width: 98%;
    height: 80px;
}

.prueba {
    width: 50%;
}

.archivos h2 {
    margin-bottom: 10px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button input {
    width: 100%;
    height: 40px;
    border: none;
    background-color: royalblue;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}