body {
    position: relative;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.form_container {
    width: 35%;

    background-color: #f7f7f7;
    border-radius: 10px;
    padding-bottom: 20px;
    border: 1px solid darkgray;
    margin: 15px 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.form_container .wrapper {
    width: 95%;
}

.form_container .form_title {
    width: 100%;
    padding: 15px 0px;
}

.form_container .form_title p {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #304356;
    text-align: center;
}

.form_container .column_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form_container .column_container .column_form {
    width: 48%;
}

.form_container .column_container .column_form .grupo_formulario {
    width: 100%;
    margin: 10px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_container .column_container .column_form .grupo_formulario label {
    color: #304356;
    margin-bottom: 5px;
}

.form_container .column_container .column_form .grupo_formulario input {
    width: 100%;
    height: 40px;
    padding-left: 5px;
}

.form_container .column_container .column_form .grupo_formulario select {
    width: calc(100% + 5px);
    height: 44px;
    padding-left: 5px;
}

.form_container .anotaciones_container {
    width: 100%;

    display: flex;
    flex-direction: column;
}

.form_container .anotaciones_container label {
    color: #304356;
    margin-bottom: 5px;
}

.form_container .anotaciones_container textarea {
    height: 50px;
}

.form_container .cargue_container {
    margin-bottom: 10px;
}

.form_container .cargue_container .subtitle_form {
    margin: 10px 0px;
}

.form_container .cargue_container .subtitle_form p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #304356;
    text-align: center;
}

.form_container .cargue_container .cargue_main {
    display: flex;
    flex-direction: column;
}

.form_container .boton_container {
    width: 100%;
}

.form_container .boton_container input {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border: none;
    background-color: royalblue;
    border-radius: 4px;
    color: white;
    cursor: pointer
}

.crud_container {
    width: 65%;

    background-color: #f7f7f7;
    border-radius: 10px;
    padding-bottom: 20px;
    border: 1px solid darkgray;
    margin: 15px 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.crud_container .table_container {
    width: 95%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.crud_container .table_container .tabla_container {
    width: 100%;
}

.crud_container .table_container .form_search {
    width: 100%;
    margin: 20px 0;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.crud_container .table_container .form_search .search_bar {
    width: 85%;
    padding-left: 5px;
    height: 35px;
    border-radius: 20px;
    border: 1px solid darkgray;
    transition: all 0.1s ease;
}

.crud_container .table_container .form_search button {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: royalblue;
    color: white;
    border: 1px solid darkgray;
}

.crud_container .table_container .form_search .search_bar:focus {
    outline: none;
    border: 2px solid royalblue;
}

.crud_container table {
    border-collapse: collapse;
}

.crud_container table thead {
    background-color: #252033;
    border: 1px solid #252033;
}

.crud_container table thead th {
    color: white;
    font-size: 14.5px;
    font-weight: normal;
    width: 14.28%;
    padding: 5px 0;
}

.crud_container table tbody {
    background-color: white;
    border: 1px solid darkgray;
}

.crud_container table tbody tr:nth-child(2) {
    background-color: rgb(245, 245, 245);
}

.crud_container table tbody tr td {
    text-align: center;
}

.crud_container table tbody tr .documento a {
    color: blue;
    text-decoration: none;
}

.crud_container table tbody tr td .edit {
    color: green;
    text-decoration: none;
}

.crud_container table tbody tr td .delete {
    color: red;
    text-decoration: none;
}

.crud_container table tbody tr td .delete:hover {
    border-bottom: 1px solid red;
}

.crud_container table tbody tr td .edit:hover {
    border-bottom: 1px solid green;
}

.crud_container .table_container .container_another_info {
    width: 100%;
}

.crud_container .table_container .container_another_info .container_another_info-title {
    color: #304356;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin: 15px 0;

    width: 100%;
}

.crud_container .table_container .container_another_info .column_container_anotherInfo {
    width: 100%;
    display: flex;
}

.crud_container .table_container .container_another_info .column_container_anotherInfo .column_anotherInfo-izquierda,
.crud_container .table_container .container_another_info .column_container_anotherInfo .column_anotherInfo-derecha {
    width: 48%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.crud_container .table_container .container_another_info .column_container_anotherInfo .column_anotherInfo-izquierda img {
    width: 90%;
    margin-bottom: 20px;
}

.crud_container .table_container .container_another_info .column_container_anotherInfo .column_anotherInfo-izquierda form {
    width: 90%;

    display: flex;
    flex-direction: column;
}

.crud_container .table_container .container_another_info .column_container_anotherInfo .column_anotherInfo-izquierda form button {
    height: 40px;
    margin-top: 10px;
    background-color: royalblue;
    border: none;
    border-radius: 4px;
    color: white;
}

.crud_container .table_container .container_another_info .column_container_anotherInfo .column_anotherInfo-derecha .grupo_anotherInfo {
    width: 100%;
    margin: 10px 0;
}

.crud_container .table_container .container_another_info .column_container_anotherInfo .column_anotherInfo-derecha .grupo_anotherInfo p {
    color: #304356;
    font-weight: bold;
    margin-bottom: 20px;
}

.crud_container .table_container .container_another_info .column_container_anotherInfo .column_anotherInfo-derecha .grupo_anotherInfo a {
    text-decoration: none;
    padding: 8px 30px;
    background-color: royalblue;
    border-radius: 4px;
    color: white;
}

.crud_container .table_container .container_another_info .column_container_anotherInfo .column_anotherInfo-derecha .grupo_anotherInfo form {
    margin-top: 20px;
}

.crud_container .table_container .container_another_info .column_container_anotherInfo .column_anotherInfo-derecha .grupo_anotherInfo form button {
    margin-top: 10px;
    width: 50%;
    height: 30px;
    background-color: royalblue;
    border: none;
    border-radius: 4px;
    color: white;
}

.container_modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.26);

    position: absolute;
    top: 0;
    right: 0;

    display: none;
    justify-content: center;
    align-items: center;
}

.container_modal .container_propietario {
    width: 600px;
    height: 300px;
    background-color: #ededed;
    border-radius: 15px;
    border: 1px solid;
    padding: 10px 15px;
}

.container_modal .container_propietario .btn_cerrar {
    width: 100%;
    height: 40px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container_modal .container_propietario .btn_cerrar i {
    font-size: 25px;
    color: red;
    cursor: pointer;
}

.container_modal .container_propietario .container_gruposModales {
    width: 100%;
    margin-top: 10px;

    display: flex;
    justify-content: center;
}

.container_modal .container_propietario .container_gruposModales .grupoModal {
    width: 48%;
}

.container_modal .container_propietario .container_gruposModales .grupoModal div {
    width: 100%;
}

.container_modal .container_propietario .container_gruposModales .grupoModal div p {
    color: #304356;
    font-weight: bold;
    margin-bottom: 10px;
}

.container_modal .container_propietario .container_gruposModales .grupoModal div div {
    width: 90%;
    height: 40px;
    background-color: white;
    border: 1px solid gray;

    margin-bottom: 10px;
    padding-left: 10px;

    display: flex;
    align-items: center;
}