.reportes{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 20px 0px;
}
.reportes p{
    font-style: oblique;
}
.cuadro{
    display: flex;
    flex-direction: row;
    margin: 10px 5px;
    background-color: #EFEFEF;
    cursor: pointer;
    border: 2px solid transparent;
}

.cuadro:hover{
    border: 2px solid rgb(0, 143, 43);
}

.cuadro .ico{
    background-color: rgb(8, 14, 95);
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuadro .ico i{ 
    color: rgb(205, 210, 255);
    font-size: 42px;
}
.cuadro .info{
    padding: 10px;
    width: 700px;
}