.formRegistro{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.filtro{
    grid-column:1/3;
    text-align: center;
}
select{
    border-radius: 10px;
    background-color: white;
    border: 1px solid gray;
}
.cantidadCupos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding:  1px;
    text-align: center;
    grid-column:1/3;
}

h2{
    color: #73879C;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 29px;
    font-weight: 700;
    line-height: 1.471;
    
}

h3{
    font-size: 18px;
    text-transform: uppercase;
}
.registro{
    display: none;
    grid-column:2;
    text-align: center;
    margin-top: 17%;

}
.parking{
    padding: 30px;
    width: 80%;
    text-align: center;
}
.fas {
    cursor: pointer;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(31, 182, 52);
    padding: 10px;
    align-items: center;
    font-size: 35px;

}
