.formRegistro{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.filtro{
  grid-column:1/3;
  text-align: center;
}

select{
  margin:5px auto;        
  border:2px solid #a7a4a4;
  height:30px;
  width: 230px;
  transition: .4s;
}
select:hover{
  border:3px solid rgb(63, 96, 197);
}

.btnReporte{
  background: rgb(94, 152, 196);
  padding: 8px;
  border: none;
  color: black;
}

.btnReporte:hover{
  color: rgb(0, 0, 0);
  background-color: rgb(24, 134, 218);
}

.infoZonas{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  grid-column:1/3;
  overflow-y: scroll;
}

.infoZonas label{
  color: black;
  font-weight: 400;
}

h1{
  color: #337ab7;
  font-size: 55px;
  font-weight: bold;
  line-height: 1.471;
  margin-left: auto;
  font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
}

h2{
  color:#337ab7;
  font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.471;
    
}

h3{
  font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  font-size: 18px;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}

.lugar{
  display: grid;
  grid-template-columns: 1fr ;

}

.tabla{
  width: 93%;
  overflow-y: auto;
  margin-top: 5%;
  padding: 4px ;
  margin-left: 3%;
}

thead th:nth-child(1) {
	width: 1%;
}
  
thead th:nth-child(2) {
	width: 10%;
}
  
th {
	padding: 10px;
  font-size: 14px;
  text-align: center;
}

.cabera{
  border: rgb(255, 255, 255) 2px solid;
}

td {
	padding: 6px;
  font-size: 14px;
  border: rgb(255, 255, 255) 2px solid;
}

th, td {
	letter-spacing: 1px;
}
  
tbody td {
	text-align: center;
}
  
thead {
	color: rgb(0, 0, 0);
  background-color: #337ab7;
  
}
  
thead th{
  border: 0px solid rgb(167, 181, 218);
}

tbody tr:nth-child(odd) {
  color: rgb(0, 0, 0);
	background-color: #ceccdf;
  font-weight: 400;
}
  
tbody tr:nth-child(even) {
	background-color: #c5c5c5;
}

.numVehi{
  text-align: center;
  color: #a7a4a4;
  padding: 0;
}

.fas{
  font-size: 20px;
}

#error{
  margin: auto;
  color: darkred;
  font-size: 50px;
}
.sinDatos{
  display: grid;
  grid-template-rows: 1fr 1fr ;
  width: 100%;
  margin: 30px 0px;
}

.sinDatos h3{
  width: 100%;
  text-align: center;
}

.acciones{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  padding: 0px 38.5px;
  position: absolute;
  margin-top: -210px;
}

.btnImprimir{
  background: rgb(204, 74, 74);
  color: black;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  margin: 0px 1px 10px 0px;
  margin-top: -9px;
}

.btnImprimir i, .btnExcel i{
  font-size: 25px;
  margin: auto;
}

.btnImprimir:hover{
  background: rgb(238, 33, 33);
  color: rgb(255, 255, 255);
}

.btnExcel{
  background:rgb(19, 145, 44);
  color: black;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  margin-top: -9px;
}


.btnExcel:hover{
  background: rgb(4, 100, 9);
  color: rgb(255, 255, 255);
}

.img_repor{
  margin-left: 24%;
}

/* modal */

:root {
  --black: rgba(0, 0, 0, 0.8);
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

.modal-header button {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  font-size: inherit;
  margin-top: -65%;
  color: #337ab7;
  font-size: 1.5rem;
  margin-right: -80px;
}
.ventana{
  color: rgb(255, 255, 255);
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font: 16px/1.5 sans-serif;
}

.open-modal{
  background-color: transparent;
  border: none;
  padding: 0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: var(--black);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.933);
  border-radius: 10px;
  margin-left: 34%;
}

.modal-dialog > * {
  padding: 1rem;
}


.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.modal p + p {
  margin-top: 1rem;
}


/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[data-animation] .modal-dialog {
  opacity: 0;
  transition: all 0.5s var(--bounceEasing);
}

[data-animation].is-visible .modal-dialog {
  opacity: 1;
  transition-delay: 0.2s;
}

[data-animation="slideInOutDown"] .modal-dialog {
  transform: translateY(100%);
}

[data-animation="slideInOutTop"] .modal-dialog {
  transform: translateY(-100%);
}

[data-animation="slideInOutLeft"] .modal-dialog {
  transform: translateX(-100%);
}


[data-animation="slideInOutLeft"].is-visible .modal-dialog,
[data-animation="slideInOutRight"].is-visible .modal-dialog,
[data-animation="zoomInOut"].is-visible .modal-dialog{
  transform: none;
}

@keyframes mixInAnimations {
  0% {
    transform: translateX(-100%);
  }

  10% {
    transform: translateX(0);
  }

  20% {
    transform: rotate(20deg);
  }

  30% {
    transform: rotate(-20deg);
  }

  40% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(-15deg);
  }

  60% {
    transform: rotate(10deg);
  }

  70% {
    transform: rotate(-10deg);
  }

  80% {
    transform: rotate(5deg);
  }

  90% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width:1225px){
  .acciones{
    margin-top: -3%;
    margin-left: -5px;
  }
}
