.gestion_container {
    width: 100%;
}

.card {
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.2);
    padding: 25px;
}

.card .card-body .fa-qrcode {
    font-size: 60px;
}

.card .card-body .container-qr {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card .card-body .container-qr button {
    margin-top: 10px;
}

.prueba3 {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.205);

    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
}

.prueba4 {
    width: 600px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px 0;
}

.prueba4 form h4 {
    text-align: center;
}

.codigo_container-general {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.205);

    z-index: 3;

    display: none;
    justify-content: center;
    align-items: center;
}

.codigo_container-qr {
    width: 600px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px 0;
}

.codigo_container-qr form h4 {
    text-align: center;
}

.container_qr {
    width: 95%;
}

#select_codigo_vehiculo {
    display: none;
}

.boton_qr {
    margin-top: 10px;
}

.wrapper {
    margin-top: 15px;
    width: 80%;
}

.contenedor_general {
    margin-top: 30px;
    margin-bottom: 30px;
}

select {
    border: none;
    border-bottom: 1px solid #bdbdc3;
    color: #bdbdc3;
    font-weight: 400;
    padding-bottom: 5px;
}

.form-control {
    border: none !important;
    border-bottom: 1px solid #bdbdc3 !important;
    box-shadow: none !important;
    border-radius: 0% !important;
    padding: 6px !important;
    color: #bdbdc3 !important;
}

.cine_container {
    margin: 20px 0px;
}

.cine_container-cupos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.cupo {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cupo p {
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.cupo_Libre {
    background-color: #4BB831;
}


.cupo_Ocupado {
    background-color: #FF0000;
}

.cupo_reservado {
    background-color: #FFAA00;
}

.interpretacion_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.interpretacion_container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}